/**

 * ----------------------------------------------

 * COLOR CODES

 * ----------------------------------------------

 *

*/


/**

 * ----------------------------------------------

 * Font face

 * 

 */

@font-face {

    font-family: "sl";

    font-style: normal;

    font-weight: 300;

    src: url("../fonts/sl.ttf") format("truetype");
}


/*! ===== button rounded style =====*/

.btn-rounded {

    display: inline-block;

    padding: 12px 20px;

    min-width: 120px;

    text-align: center;

    background-color: #004d6e;

    color: #ffffff;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;

    border-radius: 5px;

    border: 2px solid #004d6e;

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}

.btn-rounded.btn-o {

    background-color: #ffffff;

    color: #004d6e;

    border-color: #004d6e;
}



.btn-rounded:hover,
.btn-rounded:focus {

    background-color: #001722;

    border-color: #001722;

    outline: none;

    color: #ffffff;
}




/*! ===== button square style =====*/

.btn-square {

    display: inline-block;

    padding: 12px 20px;

    min-width: 120px;

    text-align: center;

    background-color: #004d6e;

    color: #ffffff;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 600;

    font-size: 16px;

    text-transform: uppercase;

    border-radius: 0;

    border: 2px solid #004d6e;

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}

.btn-square.btn-o {

    background-color: #ffffff;

    color: #004d6e;

    border-color: #004d6e;
}



.btn-square:hover,
.btn-square:focus {

    background-color: #003b55;

    border-color: #003b55;

    outline: none;

    color: #ffffff;

    text-decoration: none;
}



.btn-circle {

    /*===== button circle style =====*/
    display: inline-block;

    padding: 12px 20px;

    min-width: 120px;

    text-align: center;

    background-color: #004d6e;

    color: #ffffff;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;

    border-radius: 25px;

    border: 2px solid #004d6e;

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}

.btn-circle.btn-o {

    background-color: #ffffff;

    color: #004d6e;

    border-color: #004d6e;
}



.btn-circle:hover,
.btn-circle:focus {

    background-color: #001722;

    border-color: #001722;

    outline: none;

    color: #ffffff;
}




/*===== heading style 1 =====*/

.heading-1 {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 600;

    font-size: 30px;

    line-height: 40px;

    color: #ffffff;
}

@media only screen and (max-width: 768px){
    .heading-1 {
        font-size: 20px;
        line-height: 28px;
    }
}


/*===== heading style 2 =====*/

.heading-2 {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 600;

    font-size: 30px;

    color: #2e3c40;
}




/*===== heading style 3 =====*/

.heading-3 {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 600;

    font-size: 24px;

    color: #ffffff;
}




/*===== heading style 4 =====*/

.heading-4 {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 24px;

    color: #2e3c40;
}

@media only screen and (max-width: 500px) {

    .heading-4 {

        font-size: 20px;
    }
}



.heading-5 {

    /*===== heading style 5 =====*/
    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 20px;

    color: #2e3c40;
}




/*===== heading style 6 =====*/

.heading-6 {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 18px;

    color: #2e3c40;
}




/*===== paragraph style 1 =====*/

.p-text {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;

    color: #616161;

    line-height: 25px;

    margin: 0px;
}




/*! ===== link style =====*/

.link-text {

    text-decoration: none;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 600;

    font-size: 16px;

    color: #004d6e;

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}

.link-text:hover,
.link-text:focus {

    text-decoration: none;

    outline: none;

    color: #001722;
}



.section-title {

    text-align: center;

    position: relative;

    z-index: 1;
}



.title-style {

    position: relative;

    padding: 0 40px;

    min-width: 220px;

    display: inline-block;

    height: 60px;

    line-height: 50px;

    color: #ffffff;

    text-align: center;

    background: #004d6e;

    border: 1px solid #005f88;

    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset, 0 6px 10px rgba(0, 0, 0, 0.15);

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset, 0 6px 10px rgba(0, 0, 0, 0.15);

    margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {

    .title-style {

        padding: 0 10px;

        min-width: 180px;
    }
}

.title-style:after {

    content: '';

    position: absolute;

    bottom: -3px;

    width: 114%;

    height: 4px;

    background: #004b6c;

    left: -7%;
}




/**

 * ----------------------------------------------

 * SIMPLE RESET

 * ----------------------------------------------

 */

* {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;

    margin: 0;

    padding: 0;
}



body {

    background-color: #ffffff;
}




/**

 * ----------------------------------------------

 * CUSTOM CLASS

 * ----------------------------------------------

 */

.page-wrapper {

    position: relative;
}



.fix-container {

    max-width: 1280px;

    width: 100%;

    margin: 0 auto;
}

@media only screen and (max-width: 500px) {

    .fix-container {

        padding: 0 3%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {

    .fix-container {

        padding: 0 3%;
    }
}



.white-space {

    height: 50px;

    width: 100%;
}

@media only screen and (min-width: 1370px) {

    .white-space {

        height: 120px;
    }
}

@media only screen and (max-width: 500px) {

    .white-space {

        height: 30px;
    }
}

@media only screen and (max-width: 400px) {

    .white-space {

        height: 50px;
    }
}



.fix {

    margin: 0px;

    padding: 0px;
}



.p-none {

    padding: 0px;
}



.pr-none {

    padding-right: 0;
}

@media only screen and (max-width: 768px) {

    .pr-none {

        padding: 0;
    }
}



.pl-none {

    padding-left: 0;
}

@media only screen and (max-width: 768px) {

    .pl-none {

        padding: 0;
    }
}



.m-none {

    margin: 0px;
}



.clear {

    clear: both;
}



.bottom-style{
    position: relative;
}
.bottom-style:after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 25%;
    left: 0;
    height: 1px;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 77, 110, 0.63), rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 77, 110, 0.63), rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 77, 110, 0.63), rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 77, 110, 0.63), rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: radial-gradient(center, ellipse cover, rgba(0, 77, 110, 0.63), rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
}
.listed-media-heading.bottom-style:after{
    bottom: 10%;
}
/*! ===== input field style =====*/

.input-field {

    border: 1px solid #616161;

    padding: 12px;

    border-radius: 5px;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 14px;
}

.input-field:hover::-webkit-input-placeholder,
.input-field:focus::-webkit-input-placeholder {

    color: #616161;

    opacity: 1;

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}

.input-field:hover:-ms-input-placeholder,
.input-field:focus:-ms-input-placeholder {

    color: #616161;

    opacity: 1;

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}

.input-field:hover::placeholder,
.input-field:focus::placeholder {

    color: #616161;

    opacity: 1;

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}



.page-wrapper {

    background-color: #f2f9fc;
}



.page-box {

    background-color: #ffffff;
}



header nav .nav-top {

    background-color: #004d6e;

    padding: 5px 0px;
}

@media only screen and (max-width: 768px) {

    header nav .nav-top {

        padding: 15px 0;
    }
}

@media only screen and (max-width: 768px) {

    header nav .nav-top .contact-member-login {

        text-align: center;

        margin-bottom: 10px;
    }
}

header nav .nav-top .contact-link {

    color: #ffffff;

    border-right: 1px solid #ffffff;

    margin: 5px 0;

    display: inline-block;

    padding-right: 10px;

    margin-right: 5px;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;
}

header nav .nav-top .contact-link:hover,
header nav .nav-top .contact-link:focus {

    text-decoration: none;
}

header nav .nav-top .membership-login {

    color: #ffffff;

    margin: 5px 0;

    display: inline-block;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;
}

header nav .nav-top .membership-login:hover,
header nav .nav-top .membership-login:focus {

    text-decoration: none;
}

header nav .nav-top .search-box {

    max-width: 200px;

    width: 100%;

    margin: 0 auto;

    margin-right: 0;
}

header nav .nav-top .search-box .form-control {

    border-radius: 0;

    color: #616161;

    -webkit-box-shadow: none;

    box-shadow: none;

    border: none;

    border-radius: 25px 0 0 25px;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;
    width: auto;
}

header nav .nav-top .search-box .form-control:focus {

    outline: none;
}

header nav .nav-top .search-box .input-group-addon {

    border-radius: 0;

    border: none;

    background-color: #ffffff;

    border-radius: 0 25px 25px 0;

    background-color: #eee;
    line-height: inherit;
    height: 34px;
    padding: 6px 11px !important;
    width: 34px;
}
header nav .nav-top .search-box .input-group-addon:hover,
header nav .nav-top .search-box .input-group-addon:focus {

    background-color: #ccc;
}

@media only screen and (max-width: 768px) {

    header nav .nav-top .search-box {

        margin-right: auto;

        max-width: 200px;
    }
}



header nav .nav-logo {

    text-align: center;

    padding: 10px 0;
}

header nav .nav-logo img {

    max-width: 300px;

    vertical-align: sub;

    display: inline-block;
}

@media only screen and (max-width: 768px) {

    header nav .nav-logo img {

        max-width: 260px;
    }
}
@media only screen and (max-width: 500px) {

    header nav .nav-logo img {

        max-width: 150px;
    }
}

header nav .nav-logo .logo-text {

    display: inline-block;

    max-width: 240px;

    text-align: left;

    margin: 0;

    margin-left: 20px;

    color: #004d6e;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 600;

    font-size: 36px;
}

@media only screen and (max-width: 768px) {

    header nav .nav-logo .logo-text {

        font-size: 24px;

        max-width: 150px;

        margin-left: 10px;
    }
}



header nav .nav-menu {

    margin: 0;

    border-radius: 0;

    background-color: #f2f9fc;

    border: none;
}

header nav .nav-menu .navbar-collapse {

    padding: 0;
}

header nav .nav-menu .navbar-nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    float: inherit;
}

header nav .nav-menu .navbar-nav li{
    float: inherit;
    display: inline-block;
}
header nav .nav-menu .navbar-nav li a {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 18px;

    padding: 15px 19.9px;
    border-top: 2px solid transparent;
}

header nav .nav-menu .navbar-nav li:hover a,
header nav .nav-menu .navbar-nav li.active a {
    background-color: transparent !important;
    border-top: 2px solid #004d6e;
    color: #00caa1;
}



header .header-slider {

    padding-right: 1px;
} 
header .header-slider .hero-slider .item {
    min-height: 450px;
    background-size: cover;
    background-position: center left;
    position: relative;
}
@media only screen and (max-width: 768px){
    header .header-slider .hero-slider .item{
        min-height: 167px;
            background-size: 150% auto;
    background-repeat: no-repeat;
    }
}

header .header-slider .hero-slider .item .item-dtls .item-title{
    font-size: 24px;
    font-weight: 400;
}
@media only screen and (max-width: 768px){
    header .header-slider .hero-slider .item .item-dtls .item-title {
        font-size: 18px;
        line-height: 28px;
    }
}
header .header-slider .hero-slider .item .item-dtls .item-title:hover{
    color: #fff;
}
header .header-slider .hero-slider .item .item-dtls{
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 76, 108, 0.5);
}
@media only screen and (max-width: 768px) {

    header .header-slider .hero-slider .item {

        background-position: center left 30%;
    }
}

header .header-slider .hero-slider .item-date {

    margin-top: 0;
}

header .header-slider .hero-slider .item-info {

    color: #ffffff;

    max-width: 370px;

    width: 100%;

    margin: 20px 0;
}

header .header-slider .hero-slider .btn-square {

    min-width: 165px;
}

header .header-slider .owl-nav {

    position: absolute;

    top: 45%;

    width: 100%;

    padding: 0 10px;
}

header .header-slider .owl-nav img {

    opacity: .5;
}

header .header-slider .owl-nav img:hover,
header .header-slider .owl-nav img:focus {

    opacity: 1;
}

header .header-slider .owl-nav .owl-prev {

    display: inline-block;

    float: left;

    margin-left: 30px;
}

header .header-slider .owl-nav .owl-next {

    display: inline-block;

    float: right;

    margin-right: 30px;
}



.spech-section {

    background-color: #f2f9fc;

    padding: 45px 0;
}

.spech-section .spech-info {

    padding: 25px 0;
}

.spech-section .spech-info:not(:last-child) {

    border-bottom: 1px dashed #ddd;
}

.spech-section .img-box {

    border: 4px solid #ffffff;

    border-radius: 4px;

    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);

    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);

    width: 170px;
}

.spech-section .img-box img {

    width: 100%;

    height: auto;
}

.spech-section .info-box {

    margin-top: 20px;
}

.spech-section .info-box .user-name {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 600;

    font-size: 16px;
}

.spech-section .info-box .user-designation {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;
}

.spech-section .info-box .user-designation span {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 600;

    font-size: 16px;
}

.spech-section .spech-text {

    position: relative;
}

.spech-section .spech-text .p-text {

    max-width: 80%;

    width: 100%;

    margin: 30px auto;
}
@media only screen and (max-width: 768px){
    .spech-section .spech-text .p-text{
        text-align: justify;
        line-height: 20px;
    }
    .spech-section{
        padding:0;
        padding-top: 30px;
    }
}
.spech-section .spech-text:after,
.spech-section .spech-text:before {

    position: absolute;

    content: '';

    height: 40px;

    width: 50px;

    background-image: url(../images/quote-up.png);

    background-repeat: no-repeat;
}

.spech-section .spech-text:after {

    background-image: url(../images/quote-down.png);

    right: 20px;
}
@media only screen and (max-width: 768px){
    .spech-section .spech-text:after,
    .spech-section .spech-text:before{
        display: none;
    }
}
.spech-section .spech-of {

    max-width: 280px;

    width: 100%;

    margin: 0 auto;
}

@media only screen and (max-width: 768px) {

    .spech-section .spech-of {

        max-width: inherit;

        text-align: center;
    }

    .spech-section .spech-of .img-box {

        max-width: 170px;

        width: 100%;

        margin: 0 auto;
    }
}

.spech-section.secretary-spech {

    background-color: #ffffff;
}

.spech-section .link-text {

    display: block;
}

@media only screen and (max-width: 768px) {

    .spech-section .pull-right {

        float: inherit !important;
    }
}

@media only screen and (max-width: 768px) {

    .spech-section .pull-left {

        float: inherit !important;
    }
}



.club-activities {

    padding: 40px 0;

    background-color: #ffffff;
}

.club-activities .activities-slider {

    margin-top: 20px;
}

.club-activities .activities-slider .item {
    max-width: 550px;

    width: 100%;

    margin: 0 auto;

    max-height: 320px;

    overflow: hidden;

    position: relative;
}

.club-activities .activities-slider .item .item-img {

    width: 100%;
}

.club-activities .activities-slider .item .item-img img {

    width: 100%;

    height: auto;
}

.club-activities .activities-slider .item .item-dtls {

    position: absolute;

    width: 100%;

    height: 100%;

    top: 81%;

    background-color: #004d6e;

    text-align: center;

    padding: 5px 10px;

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}

.club-activities .activities-slider .item .item-dtls .name-date .name {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 18px;

    color: #00fffb;
}

.club-activities .activities-slider .item .item-dtls .name-date .date {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;

    color: #ffffff;
}

.club-activities .activities-slider .item .item-dtls .dtls .p-text {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 300;

    font-size: 16px;

    color: #ffffff;

    margin-top: 10px;
}

.club-activities .activities-slider .item .item-dtls .dtls .link-text {

    display: block;

    color: yellow;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;

    margin-top: 60px;
}
@media only screen and (max-width: 768px){
    .club-activities .activities-slider .item .item-dtls .dtls .link-text{
        margin-top:20px;
    }
}

.club-activities .activities-slider .item:hover .item-dtls {

    top: 0;

    padding: 50px 20px;

    background-color: #004d6e;

    /* The Fallback */
    background-color: rgba(0, 77, 110, 0.9);
}
.club-activities .activities-slider2 {

    margin-top: 20px;
}

.club-activities .activities-slider2 .item {
    max-width: 550px;

    width: 100%;

    margin: 0 auto;

    max-height: 320px;

    overflow: hidden;

    position: relative;
}

.club-activities .activities-slider2 .item .item-img {

    width: 100%;
}

.club-activities .activities-slider2 .item .item-img img {

    width: 100%;

    height: auto;
}

.club-activities .activities-slider2 .item .item-dtls {

    position: absolute;

    width: 100%;

    height: 100%;

    top: 83%;

    background-color: #004d6e;

    text-align: center;

    padding: 5px 10px;

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}

.club-activities .activities-slider2 .item .item-dtls .name-date .name {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 18px;

    color: #00fffb;
}

.club-activities .activities-slider2 .item .item-dtls .name-date .date {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;

    color: #ffffff;
}

.club-activities .activities-slider2 .item .item-dtls .dtls .p-text {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 300;

    font-size: 16px;

    color: #ffffff;

    margin-top: 10px;
}

.club-activities .activities-slider2 .item .item-dtls .dtls .link-text {

    display: block;

    color: yellow;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 16px;

    margin-top: 30px;
}

.club-activities .activities-slider2 .item:hover .item-dtls {

    top: 0;

    padding: 50px 20px;

    background-color: #004d6e;

    /* The Fallback */
    background-color: rgba(0, 77, 110, 0.9);
}

.club-activities .owl-nav {
    position: absolute;
    top: 40%;
    left: -2%;
    width: 104%;
    padding: 0 10px;
}

.club-activities .activities-slider2 .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;
    padding: 0 10px;
    display: none;
}
.club-activities .activities-slider2:hover .owl-nav{
    display: block;
}

.iconzz{
    font-size: 16px;
}
@media only screen and (max-width: 768px){
    .club-activities .activities-slider2 .item .item-dtls .dtls .link-text{
        margin-top:20px;
    }
    .club-activities .activities-slider2 .item  .item-dtls{
        top: 87%;
    }
}
.club-activities .activities-slider2 .owl-nav img {
    opacity: .5;
    height: 25px;
}

.club-activities .owl-nav img:hover,
.club-activities .owl-nav img:focus {

    opacity: 1;
}
.committee-page .panel-collapse,.members-page .panel-collapse{
    margin: 0
}
.committee-page .club-activities,.members-page .club-activities{
    padding: 0;
}
.owl-carousel .owl-stage-outer{
    z-index: 1;
}
.club-activities .owl-nav .owl-prev {

    display: inline-block;

    float: left;

    background-color: rgba(0, 0, 0, 0.3);

    padding: 15px 5px;
    
    position: relative;
    z-index: 2;
}

.club-activities .owl-nav .owl-next {

    display: inline-block;

    float: right;

    background-color: rgba(0, 0, 0, 0.3);

    padding: 15px 5px;
    
    position: relative;
    z-index: 2;
}



.partners {

    background-color: #f2f9fc;

    padding: 45px 0;
}

.partners .partners-carousel {

    padding: 60px 0;
}
@media only screen and (max-width: 768px){
    .partners .partners-carousel {

        padding: 20px 0;
    }
}
.partners .partners-carousel .img-box {

    width: 100%;

    text-align: center;

    min-height: 55px;

    background: transparent;

    border: none;
    position: relative;
}

.partners .partners-carousel .img-box img {
    width: 100%;

    height: auto;


    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.partners .partners-carousel .img-box:hover,
.partners .partners-carousel .img-box:focus {

    text-decoration: none;
    outline: none;
}

.partners .partners-carousel .img-box:hover img,
.partners .partners-carousel .img-box:focus img {

    -webkit-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}



/*===================================
=====================================
=====================================*/

.notice-board {

    background-color: #f2f9fc;

    padding: 45px 0;
}

.notice-board .notice-board-carousel {

    padding: 60px 0;
}
@media only screen and (max-width: 768px){
    .notice-board .notice-board-carousel {

        padding: 20px 0;
    }
}
.notice-board .notice-board-carousel .img-box {

    width: 100%;

    text-align: center;

    min-height: 55px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;

    background: transparent;

    border: none;
}

.notice-board .notice-board-carousel .img-box img {

    width: auto;

    height: auto;
}

.notice-board .notice-board-carousel .img-box:hover,
.notice-board .notice-board-carousel .img-box:focus {

    text-decoration: none;

    outline: none;
}

.notice-board .notice-board-carousel .img-box:hover img,
.notice-board .notice-board-carousel .img-box:focus img {

    -webkit-transform: scale(1.1);

    transform: scale(1.1);

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}



.gallery {

    padding: 45px 0;
}

.gallery .gallery-info {

    margin-top: 45px;
}

.gallery .gallery-slider .item {

    min-height: 500px;

    background-size: cover;

    position: relative;

    text-align: center;
    background-repeat: no-repeat;

    padding: 0 15px;
}

.gallery .gallery-slider .item .info-box {

    text-align: center;

    max-width: 420px;

    width: 100%;

    margin: 0 auto;
}

.gallery .gallery-slider .item .item-dtls {

    position: absolute;

    width: 100%;

    bottom: 0;

    left: 0;

    background-color: #004c6d;

    color: #fff;

    text-align: left;
}

.gallery .gallery-slider .item .item-dtls .item-title {
    padding: 10px 15px;
    margin-bottom: 5px;
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.gallery .gallery-slider .item .item-dtls .item-title:hover {

    text-decoration: none;
}

@media only screen and (max-width: 768px) {

    .gallery .gallery-slider .item {

        min-height: 350px;
    }
    .gallery .gallery-slider {
        margin-bottom: 30px;
    }
    .gallery .gallery-slider .item .item-dtls .item-title{
        font-size: 18px;
        line-height: 28px;
    }
}
@media only screen and (max-width: 500px) {

    .gallery .gallery-slider .item {

        min-height: 200px;
    }
}

.gallery .owl-nav {

    position: absolute;

    top: 45%;

    width: 100%;

    padding: 0 10px;
}

.gallery .owl-nav img {

    opacity: .5;
}

.gallery .owl-nav img:hover,
.gallery .owl-nav img:focus {

    opacity: 1;
}

.gallery .owl-nav .owl-prev {

    display: inline-block;

    float: left;

    margin-left: 30px;
}

.gallery .owl-nav .owl-next {

    display: inline-block;

    float: right;

    margin-right: 30px;
}

.gallery .fb-plgin {

    background-color: #d5d5d5;

    padding: 5px;

    text-align: center;
}





.website-link {

    background-color: #ffffff;

    padding: 45px 0;
}

.website-link .website-link-slider {

    margin-top: 45px;
}

.website-link .website-link-slider .owl-stage-outer {

    max-width: 930px;

    width: 100%;

    margin: 0 auto;
}

.website-link .website-link-slider .item {

    max-width: 150px;

    width: 100%;

    margin: 0 auto;
}

.website-link .website-link-slider .item .single-link {

    max-width: 205px;

    width: 100%;

    height: 90px;

    margin: 25px auto;

    border: 1px solid #000000;

    display: block;

    overflow: hidden;

    padding: 5px;

    background-color: #ffffff;

    -webkit-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;
}

.website-link .website-link-slider .item .single-link img {

    width: auto;

    height: 100%;

    margin: 0 auto;
}

.website-link .website-link-slider .item .single-link:hover,
.website-link .website-link-slider .item .single-link:focus {

    padding: 0;
}

.website-link .owl-nav {

    position: absolute;

    top: 36%;

    width: 100%;
}

.website-link .owl-nav img {

    opacity: .5;
}

.website-link .owl-nav img:hover,
.website-link .owl-nav img:focus {

    opacity: 1;
}

.website-link .owl-nav .owl-prev {

    display: inline-block;

    float: left;

    background-color: rgba(0, 0, 0, 0.3);

    padding: 15px 5px;
}

.website-link .owl-nav .owl-next {

    display: inline-block;

    float: right;

    background-color: rgba(0, 0, 0, 0.3);

    padding: 15px 5px;
}



footer {

    background-color: #004d6e;
}

footer .footer-top {

    padding: 60px 0;

    padding-bottom: 40px;
}

footer .footer-top .f-menu {

    text-align: center;
}

footer .footer-top .f-menu li {

    display: inline-block;

    padding: 0 10px;
}

@media only screen and (max-width: 768px) {

    footer .footer-top .f-menu li {

        display: block;

        margin: 5px 0;
    }
}

footer .footer-top .f-menu .f-menu-item {

    color: #d4d4d4;

    text-decoration: none;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 400;

    font-size: 18px;
}

footer .footer-top .f-menu .f-menu-item:hover,
footer .footer-top .f-menu .f-menu-item:focus {

    text-decoration: none;
}

footer .footer-top .social-icons {

    margin-top: 30px;

    text-align: center;
}

footer .footer-top .social-icons li {

    display: inline-block;

    padding: 0 10px;
}

footer .footer-top .social-icons .single-icon {

    color: rgba(255, 255, 255, 0.6);
}

footer .footer-top .social-icons .single-icon:hover,
footer .footer-top .social-icons .single-icon:focus {

    text-decoration: none;

    color: #ffffff;
}

footer .footer-bottom {

    padding: 30px 0;

    text-align: center;

    max-width: 900px;

    width: 100%;

    margin: 0 auto;
}

footer .footer-bottom .p-text {

    color: #d4d4d4;

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 300;

    font-size: 12px;
}

footer .footer-bottom .p-text a {

    font-family: "sl",sans-serif, Helvetica;

    font-weight: 700;

    font-size: 14px;

    color: lighren(#004d6e, 20%);
}



.all-modal {

    background-color: rgba(0, 77, 110, 0.7);
}

.all-modal .modal-body {

    padding: 15px;

    background-color: #ffffff;
}

.all-modal .modal-header {

    float: right;

    background-color: #ffffff;
}

.all-modal .modal-content {

    background-color: transparent;

    border: none;

    border-radius: 0;

    -webkit-box-shadow: none;

    box-shadow: none;
}

.all-modal .brand-logo {

    max-width: 130px;

    width: auto;

    height: auto;
}

.all-modal .brand-name {
    text-align: center;
    padding: 30px 15px;
}

.all-modal .brand-info {

    padding: 20px 15px;
    position: relative;
}
.all-modal .brand-info:after{
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    position: absolute;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(125,125,125,1) 0%, rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(125,125,125,1) 0%, rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(125,125,125,1) 0%, rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(125,125,125,1) 0%, rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: radial-gradient(center, ellipse cover, rgba(125,125,125,1) 0%, rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
}
@media only screen and (max-width: 768px) {

    .all-modal .brand-info {

        border-left: none;

        border-top: 1px solid #004d6e;
    }
}



.scroll-top {

    position: fixed;

    right: 30px;

    bottom: 30px;

    z-index: 99;

    height: 50px;

    width: 50px;

    border: 2px solid rgba(0, 0, 0, 0.2);

    border-radius: 50%;

    background-color: rgba(0, 77, 109, 0.8);

    text-align: center;

    opacity: 0;

    -webkit-transition: none;

    transition: none;
}

.scroll-top i {

    line-height: 45px;

    vertical-align: middle;

    font-size: 26px;

    color: #ffffff;

    -webkit-transition: none;

    transition: none;
}

@media only screen and (max-width: 768px) {

    .scroll-top {

        height: 30px;

        width: 30px;
    }

    .scroll-top i {

        line-height: 25px;

        font-size: 14px;
    }
}









.about-us-his {
    background-color: transparent;
    border-right: 1px solid #f2f9fc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-us-con {
    background-color: transparent;
    border-right: 1px solid #fff;
    height: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h3-style-his {
    
    font-size: 30px;
    font-weight: 1000;
    color: #f2f9fc;
    text-align: center;
}

.h3-style-con {
    
    font-size: 30px;
    font-weight: 1000;
    color: #fff;
    text-align: center;
    margin-top: 66%;
}

.details-text p {
    font-size: 16px;
    font-weight: 300;
    color: #999;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 22px;
}

.history-bg.color-bg{
    background-color: #f2f9fc;
}
.history-bg {
    margin: 0px;
    padding: 15px;
}
.details-text  .heading-1{
    font-size: 36px;
    color: #004d6e;
    font-weight: 400;
    float: left;
    margin: 0;
    margin-right: 50px;
    padding: 15px 20px;
    position: relative;
}
@media only screen and (max-width: 768px){
    .details-text  .heading-1{
        margin-right: 0;
        margin-bottom: 30px;
        float: inherit;
        text-align: center;
    }
}
.details-text  .heading-1:after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 77, 110, 0.63), rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 77, 110, 0.63), rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 77, 110, 0.63), rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 77, 110, 0.63), rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: radial-gradient(center, ellipse cover, rgba(0, 77, 110, 0.63), rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
}
.bio-image {
    width: 170px;
    margin: 15px auto;
    -webkit-box-shadow: 0px 0px 5px #eee;
            box-shadow: 0px 0px 5px #eee
}

.h3-style-bio {
    
    font-size: 16px;
    font-weight: 400;
    color: #004d6e;
    text-transform: uppercase;
    line-height: 0px;
}

.bio {
    margin-top: 20px;
    
    font-size: 12px;
    color: #666666;
    line-height: 20px;
}

.bio-left {
    background-color: #f2f9fc;
    border-left: 15px solid #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.table tr td {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

.right {
    width: 25%;
    border-right: 1px solid #f2f9fc;
    font-weight: 600;
}

.right-2 {
    width: 25%;
    border-right: 1px solid #fff;
    font-weight: 600;
}

.table tr:nth-child(even) {
    background-color: #f2f9fc;
}

.search-bar {
    padding: 20px;
    border-top: 1px solid #ccc;
}

.panel-collapse {
    margin-top: 20px;
}

.header {
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #004d6e;
}

a {
    
    font-weight: 300;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.panel-bottom-clear {
    height: 300px;
}

.activity-left {
    background-color: #f2f9fc;
    padding: 10px;
    line-height: 30px;
    margin: 10px 0;
    margin-bottom: 30px;
}

.activity-right {
    padding: 10px;
    border-left: 1px solid #ccc;
}

.activity-img {
    width: 100%;
}

.spacer {
    margin-right: 5px;
}

.news-heading {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #004d6e;
    line-height: 40px;
    margin-top: 0;
    position: relative;
}
.news-heading:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background: -webkit-radial-gradient(center, ellipse cover, #004d6e0%, rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -moz-radial-gradient(center, ellipse cover, #004d6e0%, rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, #004d6e0%, rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, #004d6e0%, rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
    background: radial-gradient(center, ellipse cover, #004d6e0%, rgba(246,246,246,1) 65%, rgba(255,255,255,1) 100%);
}
.news-heading-h3 {
    font-size: 30px;
    color: #004d6e;
    line-height: 40px;
}

.news-text {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.header-style-h4 {
    
    font-size: 36px;
    font-weight: 400;
    color: #2CC7C2;
    line-height: 100px;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f9fc;
}

.publications-body {
    background-color: #fff;
    margin-left: -15px;
}

.noticeboard-body {
    background-color: #fff;
    margin-left: -15px;
    font-family: "sl",sans-serif, Helvetica;
}

.noticeboard-heading {
    font-size: 18px;
    color: #0080FF;
    line-height: 50px;
    border-bottom: 1px solid #f2f9fc;
    margin-top: -10px;
    font-family: "sl",sans-serif, Helvetica;
}

.content-slider {
    
    width: auto;
    min-height: 200px;
    border: 1px solid #2cc7c2;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-family: "sl",sans-serif, Helvetica;
}

.content-slider .time {
    font-size: 16px;
    color: #999;
    font-family: "sl",sans-serif, Helvetica;
}

.content-slider .place {
    font-size: 16px;
    color: #0080ff;
    font-family: "sl",sans-serif, Helvetica;
}

.content-slider .subject {
    background-color: #0080ff;
    color: #fff;
    display: block;
    font-size: 16px;
    border: none;
    padding: 5px;
    font-family: "sl",sans-serif, Helvetica;
}

.media-coverage {
    background-color: #fff;
    margin-top: 40px;
}

.news-box {
    background-color: #fcfcfc;
    
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.news-box-2 .media-body{
    padding-top: 20px;
}
.news-box-2{
    background-color: #fcfcfc;
    margin-bottom: 20px;
}

.news-header {
    
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.news-text-2 {
    font-size: 16px;
    color: #999;
    text-align: justify;
}

.news-image {
    width: 120px;
    -webkit-box-shadow: 0px 0px 5px #eee;
            box-shadow: 0px 0px 5px #eee
}
.news-image-2{
    max-width: 340px
}
@media only screen and (max-width: 768px){
    .news-image-2{
        max-width: 280px
    }
}

.listed-media-bg {
    background-color: #fff;
}

.listed-media-heading {
    
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #2cc7c2;
    line-height: 60px;
    border-bottom: 1px solid #f2f9fc;
}

.listed-media-image {
    width: 120px;
}













.dropdown.dropdown-lg .dropdown-menu {

    margin-top: -1px;

    padding: 6px 20px;
}

.input-group-btn .btn-group {

    display: -webkit-box !important;

    display: -ms-flexbox !important;

    display: flex !important;
}

.btn-group .btn {

    border-radius: 0;

    margin-left: -1px;
}

.btn-group .btn:last-child {

    border-top-right-radius: 4px;

    border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {

    border-top-left-radius: 4px;

    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {

    margin-left: 0;

    margin-right: 0;
}

.form-group .form-control:last-child {

    border-top-left-radius: 4px;

    border-bottom-left-radius: 4px;
}



@media screen and (min-width: 768px) {

    #adv-search {

        width: 500px;

        margin: 0 auto;
    }

    .dropdown.dropdown-lg {

        position: static !important;
    }

    .dropdown.dropdown-lg .dropdown-menu {

        min-width: 500px;
    }
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
.publications-body{}
.publications-body  .publication-list{
    text-align: center;
}
.publications-body  .single-publication{
    display: inline-block;
    max-width: 200px;
    height: 250px;
    width: 100%;
    margin: 15px;
    position: relative;
    overflow: hidden;
}
.publications-body  .single-publication .item-img{
    width: 100%;
    height: 100%;
}
.publications-body  .single-publication .item-img img{
    width: 100%;
    height: auto;
}
.publications-body  .single-publication .item-info{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 76, 110, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: column;
    -o-flex-flow: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
.publications-body  .single-publication:hover .item-info{
    opacity: 1;
}
.publications-body  .single-publication .item-info .heading-3{
    font-weight: 400;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
}
.publications-body  .single-publication .item-info .p-text{
    color: #fff;
}
.publications-body  .single-publication .item-info .link-text{
    color: #d6ff00;
    margin-top: 20px;
}

.notice-list {
    list-style: none;
    text-align: center;
}
.notice-list .single-notice{
    display: inline-block;
    max-width: 220px;
    width: 100%;
    margin: 15px;
}

.clearok{
    clear: both;
}