.top_menu_link{
	list-style: none;
}

ul.top_menu_link li{
	float: left;
}

ul#menu > .current-menu-item > a{
	    background-color: transparent !important;
    border-top: 2px solid #004d6e;
    color: #00caa1;
}

@media only screen and (min-width: 769px){

.search_form_press{
	float: right;
}

header nav .nav-top .search-box{
	max-width: 202px;
}

header nav .nav-top .search-box .input-group-addon {
    padding-top: 10px;
    padding-bottom: 9px;
}

}

.wpcf7 { 
	background-color: #ffffff;
	padding:5px ;
	text-align: center;
	max-width: 600px;
	width: 100%;
	margin: 50px auto !important; 
}
.wpcf7 label{
	display: block;
	text-align: left;
}
.wpcf7 .wpcf7-form-control-wrap{
	display: block;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
	width: 100%;  
	display: block;
}
.wpcf7 input[type="submit"],
.wpcf7 input[type="button"] { 
	background-color:#004d6e!important;
	text-align:center!important;
	text-transform:uppercase!important;
	padding: 6px 12px;
	min-width: 100px;
	color: #fff;
	border: none;
}